
desktop.ini
/consciousness/deb_chrome.bat
*.mp4
*.avi
*.abc
*.mov
*.m4v
/UE_Canonizer/**
/Jim_For_Mayor/**
/repositories/**
/Consciousness_3D/flipbook/**
/Consciousness_3D/geo/**
/Consciousness_3D/render/**
*.pkf
/Consciousness_3D/backup/**

